<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TobaccoCompanyWPF.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-DQOV0JK;Initial Catalog=Tobacco_Company;Integrated Security=True"/>
	</connectionStrings>
 <userSettings>
  <TobaccoCompanyWPF.GeneralSettings>
   <setting name="ConnectionString" serializeAs="String">
    <value>Server=localhost;Database=TobaccoCompany;Trusted_Connection=True;</value>
   </setting>
  </TobaccoCompanyWPF.GeneralSettings>
 </userSettings>
</configuration>
